@-moz-document domain("androidpolice.com") {
/*******************************************************************************
AndroidPolice Modes

OBSOLETE: This style is no longer needed, nor does it work, with the redesigned
Android Police.

Makes links within posts red and improves the selection color.

https://userstyles.org/styles/108204/androidpolice-mods

History:
	2014-12-11 - Creation
*******************************************************************************/

/* Makes links stand out more. */
.post_main a {
	color:#F00 !important;
}

/* Makes the selection visible again. */
::selection {
	background-color:#AAA !important;
}

}
